    /* ravel */
    #page {min-height:600px;}
    .package {margin-left:10px;padding:3px;border-radius:2px;margin-top:2px;}
    .header {cursor:pointer;}

    .name {color:gray;}

    .array {background-color:#FFD8BB;border:thin solid #FFB780;}
    .object {background-color:#E7F1FE;border:thin solid #7DA2CE;}
    .string {color:red;}
    .number {color:blue;}
    .function {color:green;}

    .open .children {display:block;}
    .closed .children {display:none;}

    .arrow {background-image:url("/assets/images/d.png"); background-repeat:no-repeat; background-color:transparent; height:15px; width:15px; display:inline-block;}

    .open .arrow {background-position:-20px 0;}
    .closed .arrow {background-position:0 0;}

    .type {color:gray;font-size:8pt;float:right;}

    .hide {display:none;}

    #main {width:100%;height:500px;overflow-y:scroll;}
    
    /*crud*/
    
    .label {
        width: 80px;
    }
    table.dbtable {
        margin : 0px;
        border : 0px;
        width : auto;
    }

    table.dbtable td {
        border : 1px solid #dddddd;
    }

    table.dbtable td input[type="text"] {
        margin-bottom: 0px;
    }

    div.table_container {
        width:100%; 
        overflow-x: auto;
        padding : 0px;
    }
    td.td_toolbox {
        text-align:center; 
        width: 89px; 
        max-width:89px;
    }
    span.h1a {
        color : #c0c0c0;
    }
    
    #footer {
        margin-top : 30px;
        margin-bottom : 30px;
    }
